= form_with(model: @fighter) do |form|
  - if @fighter.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fighter.errors.count, "error")} prohibited this fighter from being saved:"
      %ul
        - @fighter.errors.each do |error|
          %li= error.full_message
  .form-group
    = form.label :name
    = form.text_field :name, class: "form-control"
  .form-group
    = form.label :image
    = form.file_field :image, class: "form-control"
  .form-group
    = form.label :description
    = form.text_area :description, class: "form-control"
  .form-group
    = form.label :hit_points
    = form.number_field :hit_points, class: "form-control"
  .form-group
    = form.label :strength
    = form.number_field :strength, class: "form-control"
  .form-group
    = form.label :precision
    = form.number_field :precision, class: "form-control"
  .actions
    = form.submit
