.d-flex.justify-content-center.my-3
  = link_to 'Créer un combattant', new_fighter_path, class:"btn btn-success"

.d-flex.row
  .col-10
    - @fighters.each_with_index do |fighter|
      .row.p-2.bg-white.border.rounded
        .col-3.mt-1
          = link_to fighter do
            %img.img-fluid.img-responsive.rounded.product-image{ src: "#{(fighter.image&.persisted? ? url_for(fighter.image) : image_path("user-placeholder.jpg"))}" }

        .col-6.mt-1
          %h5
            = link_to fighter, class:"text-dark" do
              = fighter.name
          .my-1
            %span.text-secondary
              = fighter.description
          %ul.list-group
            %li.list-group-item Precision : #{fighter.precision}
            %li.list-group-item Strength : #{fighter.strength}
            %li.list-group-item HP : #{fighter.hit_points}

        .col-3.align-items-center.align-content-center.border-left.mt-1
          .d-flex.flex-column.mt-4
            = link_to 'Détails', fighter, class:"btn btn-primary"
            = link_to "Editer le personnage", edit_fighter_path(fighter), class:"btn btn-success mt-2"
            = link_to "Supprimer", fighter, method: :delete, class:"btn btn-danger mt-2"
