%p#notice= notice

%img.img-fluid.img-responsive.rounded{ src: "#{(@fighter.image&.persisted? ? url_for(@fighter.image) : image_path("user-placeholder.jpg"))}" }

%p
  %b Name:
  = @fighter.name
%p
  %b Description:
  = @fighter.description
%p
  %b HP :
  = @fighter.hit_points
%p
  %b Strength:
  = @fighter.strength
%p
  %b Precision:
  = @fighter.precision

= link_to 'Edit', edit_fighter_path(@fighter)
\|
= link_to 'Back', fighters_path
