= form_with(model: @fight) do |form|
  - if @fight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fight.errors.count, "error")} prohibited this fight from being saved:"
      %ul
        - @fight.errors.each do |error|
          %li= error.full_message
  .form-group
    = form.label 'Nom'
    = form.text_field :name, class: "form-control"
  .form-group
    = form.label :description
    = form.text_area :description, class: "form-control"
  .form-group
    = form.label 'Combattants'
    = form.collection_select :fighter_ids, Fighter.all, :id, :name, {}, {class: 'custom-select', multiple: true, required: true}

  .form-group
    = form.label 'Arme combattant 1'
    = form.collection_select :first_fighter_weapon_id, Weapon.all, :id, :name, { include_blank: 'Sélectionnez une arme' }, {class: 'custom-select'}

  .form-group
    = form.label 'Arme combattant 2'
    = form.collection_select :second_fighter_weapon_id, Weapon.all, :id, :name, { include_blank: 'Sélectionnez une arme' }, {class: 'custom-select'}

  .actions
    = form.submit "Lancer le combat"
