= form_with(model: @fight) do |form|
  - if @fight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fight.errors.count, "error")} prohibited this fight from being saved:"
      %ul
        - @fight.errors.each do |error|
          %li= error.full_message
  .form-group
    = form.label 'Nom'
    = form.text_field :name, class: "form-control"
  .form-group
    = form.label :description
    = form.text_area :description, class: "form-control"
  .form-group
    = form.label 'Combattants'
    = form.collection_select :fighter_ids, Fighter.all, :id, :name, {}, {class: 'custom-select', multiple: true, required: true}

  .actions
    = form.submit "Lancer le combat"
