.d-flex.flex-column.align-items-center.justify-content-center.my-3
  %h2
    Bienvenue dans l'arène !
  %span
    Bienvenue dans ce petit simulateur de duel virtuel.
    %br
    Il ne s'agit que d'une simple démo.
    %br
    Les règles sont simples :
    %br
    %br
    1) Chaque combattant a 3 caractéristiques: des points de vie (HP), une précision (<=> pourcentage de réussite pour toucher)
    %br
    et une force les dommage qu'il inflige (les domage sont une valeur alétoire entre 0 et la force du personnage)
    %br
    %br
    2) Chaque combattant peut s'équiper d'une arme qui influe sur ses capacités offensives lors d'un combat
    %br
    %br
    3) Le combat se décompose en actions, au cours desquels les protagonistes attaquent tour à tour
    %br
    %br
    4) Le combat s'arrête dès que l'un des combattants atteint 0 HP
    %br
    %br
    5) A la fin de chaque combat, le vainqueur gagne un niveau (qui influe légèrement sur ses capacités)



  = link_to 'Lancer un combat', new_fight_path, class:"btn btn-success mt-5"

.d-flex.row
  .col-md-10
    - @fights.each_with_index do |fight|
      .row.p-2.bg-white.border.rounded
        .col-2.border.large-borders.rounded{ class: (fight.fighters.first.id == fight.winner.id ? 'border-success' : 'border-danger') }
          = link_to fight do
            %img.img-fluid.img-responsive.rounded{ src: "#{(fight.fighters.first.image&.persisted? ? url_for(fight.fighters.first.image) : image_path("user-placeholder.jpg"))}" }

        .col-5
          .d-flex.flex-column.align-items-center
            %h5
              = link_to fight, class:"text-dark" do
                = fight.name
            .my-1
              %span.text-secondary
                = fight.description
            .my-1
              %span.badge.badge-info
                #{fight.actions.count} tours
        .col-2.border.large-borders.rounded{ class: (fight.fighters.last.id == fight.winner.id ? 'border-success' : 'border-danger') }
          = link_to fight do
            %img.img-fluid.img-responsive.rounded{ src: "#{(fight.fighters.last.image&.persisted? ? url_for(fight.fighters.last.image) : image_path("user-placeholder.jpg"))}" }

        .col-3.align-items-center.align-content-center.border-left
          .d-flex.flex-column.mt-4
            = link_to 'Détails', fight, class:"btn btn-primary"
            = link_to "Supprimer", fight, method: :delete, class:"btn btn-danger mt-2"
